Importing required libraries to solve multiclass classification using sklearn

In [1]:
import pandas as pd
import numpy as np
from sklearn.naive_bayes import GaussianNB

Loading train dataset using pandas

In [2]:
train_df = pd.read_csv('train.csv')

In [3]:
train_df.head()

,id,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,...,feature_41,feature_42,feature_43,feature_44,feature_45,feature_46,feature_47,feature_48,feature_49,target
0,0,0,0,1,0,1,0,0,0,0,...,0,0,21,0,0,0,0,0,0,Class_2
1,1,0,0,0,0,2,1,0,0,0,...,0,0,0,0,0,0,0,0,0,Class_1
2,2,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,13,2,0,Class_1
3,3,0,0,0,0,0,0,0,3,0,...,0,0,0,0,0,0,0,1,0,Class_4
4,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,Class_2

separating y_train from original train dataset

In [4]:
target = train_df['target']

If we can observe now we do not need y labels in train dataframe so dropping that column,and if we can observe column id is not required so dropping it.

In [5]:
train_df = train_df.drop('target',axis=1)

In [6]:
train_df = train_df.drop('id',axis=1)

In [7]:
train_df.head()

,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,...,feature_40,feature_41,feature_42,feature_43,feature_44,feature_45,feature_46,feature_47,feature_48,feature_49
0,0,0,1,0,1,0,0,0,0,0,...,3,0,0,21,0,0,0,0,0,0
1,0,0,0,0,2,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,2,...,0,0,1,0,0,0,0,13,2,0
3,0,0,0,0,0,0,0,3,0,0,...,0,0,0,0,0,0,0,0,1,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

Our target colums also y_train labels has alphanumeric values, we can't proceed for any further calculations without changing that.So converting it into numeric

In [8]:
target.head()
# train_df.shape

0    Class_2
1    Class_1
2    Class_1
3    Class_4
4    Class_2
Name: target, dtype: object

In [9]:
for x in range(100000):
    if target[x] == 'Class_1':
        target[x] = target[x].replace('Class_1','1')
    elif target[x] == 'Class_2':
        target[x] = target[x].replace('Class_2','2')
    elif target[x] == 'Class_3':
        target[x] = target[x].replace('Class_3','3')
    elif target[x] == 'Class_4':
        target[x] = target[x].replace('Class_4','4')

In [10]:
target

0        2
1        1
2        1
3        4
4        2
5        2
6        1
7        2
8        2
9        4
10       2
11       4
12       3
13       4
14       3
15       1
16       3
17       2
18       2
19       2
20       2
21       3
22       2
23       2
24       2
25       4
26       2
27       2
28       2
29       3
        ..
99970    3
99971    2
99972    4
99973    2
99974    4
99975    4
99976    2
99977    3
99978    2
99979    2
99980    3
99981    3
99982    2
99983    3
99984    2
99985    2
99986    2
99987    2
99988    3
99989    2
99990    2
99991    2
99992    2
99993    2
99994    3
99995    1
99996    2
99997    3
99998    2
99999    3
Name: target, Length: 100000, dtype: object

Importing test dataset and droping id column

In [11]:
test_df = pd.read_csv('test.csv')
test_df = test_df.drop('id',axis=1)
test_df

,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,...,feature_40,feature_41,feature_42,feature_43,feature_44,feature_45,feature_46,feature_47,feature_48,feature_49
0,0,0,0,0,0,0,4,4,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,1,0,0,0,2,0,7,7,...,3,0,1,0,0,0,1,0,2,1
2,0,0,0,0,0,0,0,0,1,0,...,0,0,0,1,0,0,0,0,6,0
3,0,0,0,0,0,0,0,1,1,0,...,0,0,0,0,0,0,6,9,14,3
4,0,0,0,0,0,0,1,0,4,0,...,1,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,1,0,0,7,0,...,0,0,0,1,0,0,0,2,0,0
6,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,3,1,0,0,0,0,2,0,0,0,...,2,0,0,0,0,2,1,0,2,0
8,1,0,0,0,0,0,0,0,1,2,...,0,0,1,3,4,0,0,0,4,0
9,0,0,0,0,0,1,1,11,1,0,...,0,0,0,0,0,0,0,0,0,0
10,0,0,0,0,0,0,0,0,0,2,...,1,2,1,0,0,0,0,1,0,0
11,1,0,0,0,0,0,0,0,0,8,...,5,0,0,0,0,0,1,0,5,0
12,0,0,2,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
13,1,0,0,2,0,0,0,2,0,0,...,0,0,0,0,0,0,0,0,3,0
14,0,0,2,0,0,0,7,0,0,0,...,15,0,0,0,0,0,0,0,0,0
15,0,0,0,1,0,0,0,2,0,3,...,0,0,0,2,0,0,0,9,1,0
16,0,0,0,0,0,0,0,0,0,0,...,0,0,2,0,0,0,0,0,0,0
17,0,0,1,0,0,1,0,0,0,0,...,1,0,0,0,1,0,0,0,0,2
18,0,8,0,0,0,1,0,2,0,0,...,0,0,0,0,0,0,0,1,2,0
19,0,0,0,0,0,0,2,0,1,2,...,0,0,0,0,0,0,0,0,0,0
20,0,0,0,0,0,0,0,0,0,0,...,2,0,0,0,0,0,1,0,1,0
21,0,1,0,0,0,0,0,1,0,0,...,2,0,0,0,0,0,0,0,1,0
22,0,0,0,3,0,0,4,5,0,0,...,4,0,0,0,7,0,0,0,2,0
23,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
24,0,0,0,0,0,0,0,0,1,5,...,0,0,1,0,0,0,0,0,0,0
25,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26,0,0,0,0,0,1,0,10,0,6,...,0,0,0,0,0,0,0,0,0,0
27,0,0,0,0,0,0,6,0,0,0,...,0,0,0,0,0,0,0,0,0,5
28,0,0,3,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
29,0,0,0,1,0,0,1,0,3,0,...,2,1,0,0,0,0,3,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49970,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,1,1
49971,3,0,0,0,10,0,1,0,7,0,...,0,0,4,0,0,0,0,2,4,0
49972,0,0,0,0,0,0,0,0,1,0,...,0,0,0,4,0,0,0,0,1,0
49973,0,0,0,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2,0
49974,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,3,0,0,0,0
49975,0,0,2,5,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
49976,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
49977,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
49978,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
49979,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,4,0,0,2,0
49980,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,9,1
49981,0,0,0,0,0,0,3,1,0,2,...,5,0,0,0,0,0,0,0,0,1
49982,4,0,0,1,0,0,0,1,0,1,...,2,0,2,0,0,7,0,0,0,0
49983,0,0,0,2,0,0,0,4,0,1,...,1,0,0,0,0,0,0,0,0,0
49984,0,0,0,0,0,0,0,2,14,0,...,0,0,1,0,0,0,0,0,0,7
49985,0,0,0,0,0,2,0,0,0,0,...,1,2,0,0,0,0,0,0,2,0
49986,1,0,0,3,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
49987,0,0,0,0,0,0,0,10,0,0,...,1,0,0,0,0,0,3,0,2,1
49988,0,0,0,0,0,0,1,0,0,0,...,0,0,3,0,0,0,0,3,1,0
49989,0,0,0,0,0,0,1,3,0,1,...,0,0,0,0,0,0,0,0,0,0
49990,0,0,4,0,6,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
49991,0,0,0,6,0,0,0,4,0,0,...,0,0,0,0,0,0,1,0,0,0
49992,0,0,0,0,0,0,0,0,2,0,...,1,0,0,0,0,0,0,0,0,6
49993,0,0,0,0,0,0,1,0,0,3,...,0,2,0,1,0,0,1,0,0,0
49994,6,1,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
49995,0,0,0,0,0,0,0,1,5,0,...,0,1,0,0,0,3,0,0,3,0
49996,0,0,0,0,0,0,10,0,0,0,...,0,0,0,1,0,0,0,0,0,3
49997,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
49998,0,0,0,0,1,0,0,0,0,4,...,1,0,0,0,0,0,0,0,0,1
49999,0,0,0,2,0,0,0,0,3,0,...,5,0,0,0,0,0,0,0,1,0

Using naive bayes algorithm training the classifier and then predicting for test dataset

In [12]:
gnb = GaussianNB().fit(train_df, target)
gnb_predictions = gnb.predict(test_df)

In [13]:
print(gnb_predictions)

['2' '4' '2' ... '2' '4' '2']

Score using naive bayes

In [20]:
gnb.score(test_df,gnb_predictions)

1.0

In [23]:
gnb_prob = gnb.predict_proba(test_df)

In [24]:
submission = pd.read_csv('sample_submission.csv')
cols = [
    col for col in submission.columns if col != "id"
]

In [25]:
submission[cols] = gnb_prob
submission.head()

       id   Class_1   Class_2   Class_3   Class_4
0  100000  0.176083  0.386216  0.152343  0.285357
1  100001  0.077286  0.235677  0.108066  0.578971
2  100002  0.011277  0.837546  0.011890  0.139286
3  100003  0.006772  0.000153  0.992959  0.000117
4  100004  0.006903  0.207804  0.013125  0.772168